// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    background-color: rgb(202, 209, 212);
}

a {
    color: rgb(36, 9, 215);
}